<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Страница регистрации</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">

</head>

<body class="text-center">

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-4481610-59', 'auto');
    ga('send', 'pageview');

</script>

<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter39705265 = new Ya.Metrika({ id:39705265, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/39705265" style="position:absolute; left:-9999px;" alt="Yandex.Metrika" /></div></noscript> <!-- /Yandex.Metrika counter -->

<form class="form-signin" th:action="@{addPresentation}" method="post">
    <img class="mb-4" th:src="@{/images/WaveAccessIcon.png}" alt="" width="247" height="61">
    <h1 for="title" class="h3 mb-3 font-weight-normal">Please fill in all fields.</h1>
    <label for="inputTheme" class="sr-only" >Theme</label>
    <input type="text" id="inputTheme" class="form-control" name="theme" placeholder="Theme" required autofocus>
    <label for="inputAuthor" class="sr-only" >Authors</label>
    <input type="text" id="inputAuthor" class="form-control" th:name="author" placeholder="Enter authors separated by commas." required>
    <label for="inputDate" class="sr-only">Date and time</label>
    <input type="datetime-local" id="inputDate" class="form-control" name="date" placeholder="dd-MM-yyyy" required>
    <label for="inputRoom" class="sr-only">Room</label>
    <input type="text" list="rooms" id="inputRoom" class="form-control" name="room" placeholder="Room" required>
    <datalist id="rooms">
        <option>AUDIENCE</option>
        <option>OFFICE</option>
        <option>HALL</option>
    </datalist>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
</form>
</body>
</html>